header
  .header-position
    h1.logo Mohamed Alouane

    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#about") Youtube Ment
        li: a(href="#articles") Articles
        li: a(href="#projects") Projects
        li: a(href="#projects") Design
        li: a(href="#notes") Notes
        li: a(href="#about") Contact

    a(href="mailto:med@alouane.co").email-link +email me
