mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#about") Youtube Ment
    li: a(href="#articles") Articles
    li: a(href="#projects") Projects
    li: a(href="#projects") Design
    li: a(href="#notes") Notes
    li: a(href="#about") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Mohamed Alouane

    nav.site-nav
      +nav-content()
      
    a(href="mailto:med@alouane.co").email-link +email me
    
    .mobile-nav-toggle: span
