section.yt
  .flexy.flexy--space-around
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/9d8wWcJLnFI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      
    .col-1.order-st
      p.home-lead.outdent ...making private videos on calisthenics ...
      a(href="http://youtube.com").home-cta Watch on Youtube
