mixin face
  li.face(style="background-image: url(http://fillmurray.com/80/80)")
    .bubble
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      cite - Abdelakder Seuros


section.mentor
  .flexy.flexy--center
    .col-1
      ul.faces
        +face
        +face
        li.face.bubble-open(style="background-image: url(http://fillmurray.com/80/80)")
          .bubble
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            cite - Abdelakder Seuros
        +face
        +face 
      
    .col-1
      p.home-lead.outdent ...Mentoring people like you ...
      a(href="http://youtube.com").home-cta Schedule a Call
